.user_navigation {
    background: linear-gradient(135deg, #173b08 0%, #29680e 44%, #9de080 100%) !important
}

.site-name .navbar-brand,.header_section .title {
    color: #29680e;
    text-shadow: 0px -1px 1px #42a716
}

#navigationUser ul li a {
    color: #29680e !important
}

h1.site-name a.navbar-brand:hover {
    color: #29680e
}

.about_journal {
    color: #2e2e2e;
    background: rgba(41,104,14,0.4)
}

.about_journal h1 {
    color: #29680e;
    text-shadow: 1px 1px #c0f4aa
}

.pkp_structure_sidebar .block_custom h1 {
    color: #29680e;
    border-bottom: 1px solid #42a716
}

.editorial_team_block .profile .name {
    color: #22560c
}

.editorial_team_block h1 {
    color: #22560c
}

.panel-default>.panel-heading,.pkp_block .title {
    color: #949494;
    border-bottom: 1px solid #9de080;
    background: linear-gradient(135deg, #9de080 7%, #9de080 3%, #9de080 3%, #9de080 12%, #9de080 54%, #44ab17 85%, #29680e 120%)
}

.navbar-default .nav>li>a,.header_view .nav>li>a {
    color: #173b08
}

.navbar-default .nav>li>a:hover,.header_view .nav>li>a:hover {
    color: #000;
    text-shadow: 1px 1px #dfdfdf
}

.user_navigation a {
    color: #000 !important
}

.side-menu_hover_effect:before {
    background: #42a716
}

/*.btn-info {*/
/*    background-color: #44ab17*/
/*}*/

/*.btn-primary {*/
/*    background-color: #3f9e15*/
/*}*/

/*.btn-primary:hover,.btn-info:hover {*/
/*    background-color: #49b819*/
/*}*/

input[type="checkbox"]:checked:after,.checkbox input[type="checkbox"]:checked:after,.checkbox-inline input[type="checkbox"]:checked:after {
    background-color: #44ab17;
    border: 1px solid #3b9514
}

a.galley-link:hover {
    color: #40a216;
    border: 1.4px solid #44ab17;
    font-weight: bold
}

.footer_border {
    background: #9de080;
    background: linear-gradient(to bottom, #44ab17 0%, #63e32c 50%, #29680e 51%, rgba(41,104,14,0.4) 100%)
}

.page_index_site li.media{
    overflow: auto !important;
}
